.wrap {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  height: 100vh;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20vh;
}

.signup-title {
  font-weight: 300;
  font-size: 1.8rem;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 3vh 3vw;
  padding-bottom: 10vh;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}

.signup-form--input {
  margin-top: 1rem;
  padding: 0.7rem 1rem;
  border: 1px solid #dbdbdb;
  border-radius: 0.3rem;
  background-color: #fafafa;
  width: 100%;
}
button:disabled {
  background: #edbdbd;
  cursor: not-allowed;
}

.submit-user-btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 0 0.5rem 0;
  cursor: pointer;
  border: none;
  border-radius: 0.3rem;
  width: 100%;
}

.err-email {
  margin-top: 1rem;
  color: red;
  font-weight: 700;
}

.signup-linkto-signin {
  font-size: 1.2rem;
}

a {
  margin-top: 1rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}
