.albums-list-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
  margin: 4rem 3rem 0 3rem;
}

.albums-list-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albums-list {
  /* margin-top: 20vh; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.addalbum-link {
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.addalbum-link:hover {
  background-color: #ed7676;
}
